body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  overflow-x: hidden;
  height: 100vh;
  background-color: #ebebeb;
}

p {
  font-family: 'Raleway', 'serif';
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  margin-left: 5%;
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

input {
  border: none;
}

.spacer {
  margin-bottom: 70px;
}

.Link {
  text-decoration: none;
  color: black;
}
